params {
    output_dir = "/users/steven/nf_test_04062025/"
    exome_dir = "/Bulk/Exome sequences/Population level exome OQFE variants, PLINK format - final release"
    exome_helper_dir = "/Bulk/Exome sequences/Population level exome OQFE variants, PLINK format - final release/helper_files/"
    filter_90pct10dp_name = "ukb23158_500k_OQFE.90pct10dp_qc_variants.txt"
    gt_dir = "/Bulk/Genotype Results/Genotype calls"
    dx_instance = "mem1_ssd1_v2_x16"
    pheno_desc_file = null
    work_dir = "/users/doherty/imh310/ukb_rap/ukb_exome/analysis/nf_log/latest"
    code_dir = "/users/doherty/imh310/ukb_rap/ukb_exome/github/prototype"
}